# dependencies
node_modules/
.pnp/
.pnp.js

# next
.next/
.vercel/
out/

# env
.env*
!.env.local.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.zip
